    /*
 * Main part style
 */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/nature-3294681_1920.jpg');
    /* Background pattern from Subtle Patterns */
    background-size: cover;
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #ffeaa0;
    text-align: center;
    font-size: 35px;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #ffeaa0;
}

.copyright,
.link {
    text-align: center;
    color: #ffeaa0;
}


/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: url('../img/3521083889_34d0e0181f_b.jpg');
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .front {
    height: 125px;
    width: 125px;
    border-radius: 8px;
    background: linear-gradient(160deg, #ffeaa0 0%, #211a03 100%);
    background-size: cover;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.deck img {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0;
    border-radius: 8px;
    transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .4s linear;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    opacity: 0;
}

img.selected:hover,
img.match:hover,
img.incorrect:hover {
    cursor: default;
}

img.selected,
img.incorrect {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    opacity: 1;
}

img.match {
    background: #ffeaa0 url('../img/wwf.png');
    border-radius: 8px;
    opacity: 0.5;
}

.link {
    width: 25px;
    height: 25px;
}


/*
 * Styles for the Score Panel
 */

.score-panel {
    width: 780px;
    text-align: left;
    align-items: center;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.score-panel .stars {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    min-width: 90px;
    margin: 0 5px 0 0;
    padding: 0 0 0 40;
}

.score-panel .stars li {
    list-style: none;
    margin: 0 7px 0 0;
}

.fa-star {
    color: #fbca39;
}

.score-panel .moves {
    display: flex;
    flex-grow: 1;
    justify-content: left;
}

.score-panel .moves .moves_count {
    align-items: center;
    color: #ffeaa0;
}

.score-panel .timer {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    color: #ffeaa0;
}

.score-panel .timer .time_tracker {
    align-items: center;
    color: #ffeaa0;
}

.score-panel #restart {
    font-family: 'Open Sans', sans-serif;
    color: #ffeaa0;
    cursor: pointer;
    background: transparent;
    flex-grow: 1;
    font-size: 1rem;
    border: none;
    outline: none;
}


/*
 * Styles for the Congratulation (Winner) Panel 
 */

.winner_panel {
    color: #ffeaa0;
    background-color: #211a03;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 2em;
    left: 50%;
    top: -100%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 0.7s all ease-out;
    opacity: 0.8;
}

.winner_panel.active {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    z-index: 90;
}

.winner-message .win_container {
    position: relative;
    z-index: 90;
}

.winner_panel h2 {
    font-size: 1.6rem;
    color: #ffeaa0;
    text-align: center;
}

.winner_panel p {
    color: #ffeaa0;
    text-align: center;
}

.winner_panel .starRating {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.winner_panel .starRating li {
    list-style: none;
    margin: 0 5px 0 0;
}

.play_again {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #ffeaa0;
    border: 1px solid #ffeaa0;
    margin-top: 1rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.play_again:hover {
    background-color: #ffeaa0;
    border-color: #ffeaa0;
}


/*
 * Styles for the Responsive Part (Media Queries)
 */

@media only screen and (max-width: 680px) {
    .container {
        margin: 5px;
        .score-panel {
            width: 100%;
        }
        .score-panel .stars,
        .score-panel .moves,
        .score-panel .timer {
            min-width: calc(100%/3);
        }
        .score-panel #restart,
        {
            width: 25px;
            height: 25px;
        }
    }